body {
  background-color: #6a3527;
  font-family: "Source Sans Pro";
  color: white;
}

h1 {
  color: white;
  font-family: "Source Sans Pro";
  font-size: 80px;
}

a{
  color: white;
  margin-left: 20px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: lighter;
}

table{
  width:100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 35px;

}

td {
  text-align: center;
  font-size:20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: lighter;
}
